 M .gitignore
.bundle/
.byebug_history
.env
*~
*swp
archivos/anexos
archivos/bd
config/application.rb
config/credentials.yml.enc
config/database.yml
config/initializers/punto_montaje.rb
config/initializers/sip.rb
config/master.key
config/routes.rb
coverage/
*key
log/
node_modules/
public/anzorc/ensayo/
public/anzorc/si/
public/heb412/
public/packs/
tmp/
archivos/
public/packs-test/
