<%
    estado = :INDEF
    gd = Usuario.where(rol: Ability::ROLDIR)
    @registro.observacion.where(usuario_id: gd.pluck(:id)).each do |o|
      if o.estadoobs_id == Estadoobs::NOAPROBADO
        estado = :MAL
      elsif o.estadoobs_id == nil && estado != :MAL
        estado = :VACIO
      elsif o.estadoobs_id == Estadoobs::APROBADO && estado == :INDEF
        estado = :BIEN
      end
    end
%>

<% if estado == :BIEN then %>
  <span style="color: green">☑<span>
<% elsif estado == :MAL %>
  <span style="color: red">☒</span>
<% else %>
  <span style="color: orange">☐</span>
<% end %>

