<td>
  <%= fasistencia.input :telefono,
    label: false,
    input_html: { style: 'width: 8em' } 
  %>
</td>
<td>
  <%= fasistencia.input :vereda, 
    label: false,
    input_html: { style: 'width: 8em' } 
  %>
</td>
