<div class="panel panel-default">
  <div id="acordeon_observaciones">
    <div class="card">
      <div class="card-header" id="observaciones">
        <h6 class="mb-0" style='text-align: center'>
          <a class="collapsed" data-toggle="collapse" data-target="#colapsa_observaciones" aria-expanded= "false" aria-controls="colapsa_observaciones">
            Observaciones
          </a>
        </h6>
      </div>
      <div id="colapsa_observaciones" class="collapse" aria-labelledby="encabezado_observaciones" data-parent="#acordeon_observaciones">
        <div class="card-body">
          <div class="panel-body table-responsive" style="overflow-x:scroll;">

            <%= render partial: 'tabla_observaciones', 
              locals: {f: f, con_label: false} %>

          </div> <!-- panel-body -->
        </div> <!-- card-body-->
      </div> <!-- colapsa-observaciones-->
    </div> <!-- card -->
  </div> <!-- acordeon_observaciones -->
</div> <!-- panel -->
