<div class='accordion' id="acordeon_solicitudes">
  <%= item_acordeon_bs(
    'acordeon_solicitudes', 'solicitudes', 
    t('Observaciones'), false, {
      'estilo_accordion-header' => 'text-align: center',
      'estilo_accordion-body' => 'anexos-div anexosdiv'
    })  do %>
    <%= render partial: 'sip/solicitudes/tabla_solicitudes',
      locals: {f: f, relacion: :actividad_solicitud } %>
  <% end %>
</div> <!-- accordion -->
