<%
  estado = :BIEN
  @registro.proyectofinanciero.each do |p|
    if p.responsable
      if @registro.solicitud.where(
          usuario_id: p.responsable_id, estadosol_id: Sip::Estadosol::NOAPROBADO).
          count >0
        estado = :MAL
      elsif estado != :MAL && (@registro.solicitud.where(
        usuario_id: p.responsable_id, estadosol_id: nil).
        count >0 || @registro.solicitud.where(
          usuario_id: p.responsable_id).count == 0)
        estado = :VACIO
      end
    end
  end
%>

<% if estado == :BIEN then %>
  <span style="color: green">☑<span>
<% elsif estado == :MAL %>
  <span style="color: red">☒</span>
<% else %>
  <span style="color: orange">☐</span>
<% end %>

