.navbar {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(189, 215, 75));
  color: #356a00;
}

.navbar-default {
  color: #356a00 !important;
}


.boolean {
  height: inherit;
}

.nav-tabs > li > a {
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
  line-height: 1.42857143;
  margin-right: 2px;
  background-color: rgb(189, 215, 75);
  border: 1px solid #eee;
}

.nav-tabs > li.active > a {
  background-color: #eee;
  border: 1px solid #aaa;
  border-bottom-color: transparent;
}
.panel-heading {
  text-align: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: rgb(189, 215, 75);
  border-color: #285e8e;
}


body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Todo al 100% */
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 100%;
  }
}
